*.rbxlx
*.rbxl
/*.rbxlx.lock
/*.rbxl.lock
sourcemap.json
.pesde
*_packages
.env
remotes/netclient.luau
remotes/netserver.luau
remotes/nettypes.luau
**/assets.luau
node_modules
globalTypes.d.luau
vectorTypes.d.luau
